<div container grid style="grid-template-columns: repeat(3, 1fr);">
  <div box>
    <%- box1 %>
  </div>
  <div box>
    <%- box2 %>
  </div>
  <div box>
    <%- box3 %>
  </div>
  <div box>
    <%- box4 %>
  </div>
  <div box>
    <%- box5 %>
  </div>
  <div box>
    <%- box6 %>
  </div>
</div>