<div section container grid container-3x2>

  <% if (typeof box1 !== "undefined" && box1) { %>
  <div container-box box1>
    <%- box1  %>
  </div>
  <% } %>

  <% if (typeof box2 !== "undefined" && box2) { %>
  <div container-box box2>
    <%- box2  %>
  </div>
  <% } %>

  <% if (typeof box3 !== "undefined" && box3) { %>
  <div container-box box3>
    <%- box3  %>
  </div>
  <% } %>

  <% if (typeof box4 !== "undefined"&&box4) { %>
  <div container-box box4>
    <%- box4  %>
  </div>
  <% } %>

  <% if (typeof box5 !== "undefined" && box5) { %>
  <div container-box box5>
    <%- box5  %>
  </div>
  <% } %>

  <% if (typeof box6 !== "undefined" && box6) { %>
  <div container-box box6>
    <%- box6  %>
  </div>
  <% } %>

</div>